/*	Global reset   */

* {
	padding: 0;
	margin: 0;
	outline: none;
}

html {
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	height:100%;
}

body{
	font: 15px/21px Arial,Helvetica,sans-serif;
	background: #f6f5f3;
	height: 100%;
}

h1 {
	font-weight: inherit;
	font-size: inherit;
	padding: 0;
	margin: 0;
}

.page-main {
	min-width: 1000px;
	max-width: 1000px;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
}


/* time-table */

.table {
	display: table;
	width: 100%;
	border-collapse: collapse;
	z-index: 0;
	position: relative;
	overflow: hidden;
}
.header {
	display: table-header-group;
	vertical-align: top;
	color: #7f7f7f;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	bottom: auto;
}
.table .header {
	display: table-header-group;
	vertical-align: top;
	color: #7f7f7f;
	background-color: #ffffff;
	position: absolute;
	bottom: 0;
	z-index: 2;
	top: auto;
}

.table > div:nth-child(even) .cell::before {
	background-color: #f7f7f7;
	content:'\00a0';
	height: 100%;
	left: -5000px;
	position: absolute;
	top: 0;
	width: 10000px;
	z-index: -2;
}

.table .row:hover  {
	background-color: #ffdc61;
	cursor: pointer;
}

.table .row:focus .modal {
	display: block;
	cursor: default;
}

.table .cell {
	display: table-cell;
	padding: 0.5em 0.7em 0.5em 0;
	position: relative;
}

.cell:hover::after {
	background-color: #ffdc61;
	content: '\00a0';  
	height: 10000px;    
	left: 0;
	position: absolute;  
	top: -5000px;
	width: 100%;
	z-index: -1;
}

.centered {
	text-align: center;
}


/* for select departure or arrival rows only */

.arrival-row {
	display: none;
}

#is-arrival:checked ~ * .arrival-row {
	display: table-row;
}

.departure-row {
	display: none;
}

#is-departure:checked ~ * .departure-row {
	display: table-row;
}


/* Modal dialog style's */

/* The modal's background */
.modal {
	display: none;
	position: fixed;
	z-index:10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

/* The modal's content */
.modal-dialog  {
	display: table-cell;
	vertical-align: middle;
	border: 1px solid #7f7f7f;
	background-color: #ffffff;
	width: 250px;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -125px 0 0 -125px;
}

.closebtn {
	text-decoration: none;
	float: right;
	font-size: 35px;
	font-weight: bold;
	color: #7f7f7f;
}


/* Скрываем название авиакомапнии при изменении ширины экрана < 1000 px */
@media screen and (max-width: 1000px) { 
	.table .cell:nth-child(3) {
		display: none;
		padding: 0;
	}
}

/* Скрываем примечание при изменении ширины экрана < 900 px */
@media screen and (max-width: 900px) { 
	.table .cell:nth-last-child {
		display: none;
		padding: 0;
	}
	
	.table .cell:nth-child(5)::before {
		content: attr(data-short);
		font-size:15px;
	}
	.table .cell:nth-child(5) {
		font-size:0;
	}
	
	


}

/*
content: attr(data-zagolovok);
http://shpargalkablog.ru/2011/07/transformaciya-css.html
*/